<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <MultiTenantBaseUrlProvider />
    <link rel="stylesheet" href="OrchardCore.Resources/Styles/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/OcBlazorSampleLib/OcBlazorSampleLib.bundle.scp.css" />
    <link rel="shortcut icon" href=@(_tenantFavIconUrl) type="image/x-icon">
    <link rel="icon" href=@(_tenantFavIconUrl) type="image/x-icon">
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
</html>

@code
{
    string _tenantPrefix => !String.IsNullOrEmpty(MultiTenantBaseUrlProvider.RequestUrlPrefix) ? $"{MultiTenantBaseUrlProvider.RequestUrlPrefix}-" : String.Empty;
    string _tenantFavIconUrl => $"/{_tenantPrefix}favicon.ico";
}